@import '../../node_modules/swiper/swiper-bundle';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox';
html,
body{
  height: 100%;
}

body{
  font-family: 'Gilroy;';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
  height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
	overflow: hidden;
}

.main{
  flex: 1 0 auto;
}
.footer{
  flex: 0 0 auto;
}
.container{
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid{
  max-width: 1275px;
  padding: 0 25px;
  margin: 0 auto;
	position: relative;


}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
  --animate-delay: 1s
}
.animate__animated.animate__fadeInRight{
    --animate-duration: 3s;
    --animate-delay: 1s;  
}
.animate__animated.animate__fadeInUp{
    --animate-duration: 2s; 
}
.animate__animated.animate__pulse{
    --animate-duration: 2s;
}




